
# Dependencies
/backend/node_modules
/.pnp
.pnp.js
/frontend/node_modules
/node_modules
# Testing
/coverage
/backend/uploads
# Production
/build
/frontend/build

# Local secrets for running the backend on your own machine
#backend/.env

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

