@import "../../../colors.scss";

.secondary-button-styles {
  border: 2px solid #242424;
  border-radius: 10px;
  color: #e5322d;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 400;
  padding: 12px 24px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 18px;
  letter-spacing: 0.05em;
  transition: all 0.3s;
  width: max-content;
  cursor: pointer;

  &:hover {
    background: #e5322d;
    color: #fff;
    border-color: #e5322d;

    .icon {
      filter: brightness(0) invert(1);
    }
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 480px) {
  .secondary-button-styles {
    font-size: 13px;
    padding: 10px 18px;
    gap: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .secondary-button-styles {
    font-size: 15px;
    padding: 12px 24px;

    .icon {
      height: 16px;
      width: 16px;
    }
  }
}

@media screen and (min-width: 1919px) {
  .secondary-button-styles {
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #242424;
    padding: 14px 28px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }
}
